fastapi==0.116.1
uvicorn[standard]==0.35.0
python-multipart==0.0.20
nemo_toolkit[asr] @ git+https://github.com/NVIDIA/NeMo.git@1688cc3d6a9ade854f544987810c53f605dc86fc
omegaconf==2.3.0
python-dotenv==1.1.1
